[
    {
        "name": "ss-video-concate",
        "cpu": 0,
        "environment": [            
            {
                "name": "V_QUEUE_URL",
                "value": ${jsonencode(queue_url)}
            },
            {
                "name": "V_REGION",
                "value": ${jsonencode(region)}
            }
        ],
        "essential": true,
        "image": ${jsonencode(docker_image)},
        "logConfiguration": {
            "logDriver": "awslogs",
            "options": {
                "awslogs-group": ${jsonencode(log_group_name)},
                "awslogs-region": "ap-south-1",
                "awslogs-stream-prefix": "ecs"
            }
        },
        "mountPoints": [],        
        "portMappings": [],
        "volumesFrom": []
    }
]